*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    background: white;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-attachment: fixed;
}
.logo{
    width: 100%;
    font-weight: 500;
    font-size: 25px;
    color: #000;
}
.navmenu{
    display: flex;
    align-items: center;
}
.navmenu a{
    display: flex;
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #eee;
}
.btn{
    display: flex;
    align-items: left;
}
.btn i{
    margin-left: 100%;
    padding: 10px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 500;
    transition: all .42 ease;
}
.btn i:hover{
    color:#eee;
}
#menu-icon{
    color: #2c2c2c;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 5% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    background: url(living.jpg);
    background-position: center;
    background-size:cover ;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: left;
}
#container{
    width: 900px;
    margin: 0 auto ;
    background: burlywood;
}
.col3{
    padding: 10px 15px;
}
.col3 h5{
    color: black;
    font-size: 16px;
    padding: 10px 150px;
    
}
.col3 h2{
    color:chocolate;
    font-weight: 600;
    font-size: 50px;
    padding: 10px 150px;
}
.col3 p{
    color: #eee;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    padding: 10px 150px;
    
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42 ease;
    align-content: center;
}
.main-btn:hover{
    background-color: burlywood;
    color: white;
}
.btn:hover{
    color:#000;
    background-color: #eee;
}
header.sticky{
   background: #fff;
   padding: 20px 10%;
   box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    gap: 2rem;
}
.products img{
    width: 100%;
    height: 80vh;
    border-radius: 6px;
    padding: 10px 20px;

}
.btn5{
    border-radius: 2px;
    background: burlywood;
    color: #555;
    border: 1px solid #555;
    padding: 10px 15px;
    margin-left: 5px;
    align-content: center;
    
}
.brands tr img{
    width: 100%;
    height: 70vh;
border-radius: 5px;
}
.brands tr h4{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: black;

}
.t1 {
    text-align: center;
    margin-bottom: 10px;
}
  .title1{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
  }
.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 25px;
    border: 1px solid #ccc;
    margin-top: 5px;

}
.pro img{
    width: 100%;
}
.products-container{
display: flex;
flex-wrap: wrap;

}
.banner {
  background: radial-gradient(#fff, burlywood);
  margin-top: 80px;
  padding: 30px 0;
  }
small{
    color: #555;
}
.btn1{
    border-radius: 2px;
    background: chocolate;
    color: white;
    border: 1px solid #555;
    padding: 10px 15px;
    margin-top: 5px;
    margin-left: 5px;
    align-content: center;
    
}
.banner h1{
 margin: 5px;
}
.banner p{
    margin: 5px;
}
.banner{
    padding: 50px 150px;
}
.footer{
    background: #fff;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.h3{
   margin-top: 20px;
}
.footer h1{
    color: #000;
    margin-bottom: 20px;
}
.footer h3{
    color:#8a8a8a;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    margin-top: 25px;
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2, .footer-col-3{
    margin-top: 25px;
flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.btn2{
    padding: 5px 15px;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    background: burlywood;
    border-bottom: 2px;
    border-radius: 5px;
}
.footer hr{
    border: none;
    background: #8a8a8a;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
    color: #555;
    font-size: 16px;
}
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: burlywood;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: burlywood;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid burlywood;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
.account-page{
    background: radial-gradient(#fff,burlywood );
    padding: 50px 0;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position:relative;
    text-align: center;
    padding: 50px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1) ;
    overflow: hidden;
}
.form-container span{
    font-weight: 600;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .button{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    color: #fff;
    background: burlywood;
}
form .button:focus{
    outline: none;
}
#loginform{
    left: -300px;
}
#regform{
    left: 0;
}
form a{
    font-size: 12px;
    color: #555;
}
#indicator{
    width: 100px;
    border: none;
    background: burlywood;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}